@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #515fb5;
  color: #ffffff;
}

.quiz-container {
  width: 400px;
  border-radius: 6px;
  background-color: #1b165b;
  padding: 40px 30px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.quiz-container label {
  text-align: center;
}

.quiz-container select {
  padding: 6px;
  outline: none;
}

.quiz-container button {
  padding: 6px;
  background-color: #41e5ed;
  border: none;
  outline: none;
  margin-top: 2px;
}

.status-box {
  background-color: #ff0000;
  padding: 8px 10px;
  border-radius: 8px;
  opacity: 0;
}

.score-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.score {
  background-color: #41e5ed;
  color: #000000;
  font-size: 20px;
  padding: 4px;
  border-radius: 8px;
}

.final-result {
  padding: 4px;
  border: 2px solid #ffffff;
}
